body{
    background-color: rgb(240,246,249);
    margin: 1%;
}
header{
    background-color: rgb(173, 216, 230,0.5);
}
.texto{
    text-align: justify;
    line-height: 1.5;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.pie_pagina{
    background-color: rgb(173, 216, 230,0.5);
}
.titulo{
    text-align: center;
    background-color: rgb(173, 216, 230,0.5);
}
.tabla-principal{
    margin:auto;
}
.tabla{
    border: solid 1px black;  
}
.enunciado{
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    font-style: normal;
    border: solid 1px black;
    text-align: center;
}
#atm{
    font-family: "Ms Madi", cursive;
    font-weight: 400;
     font-style: normal;
}
.act-img{
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom:3%;
    margin-right: 3%;
    width: 15%;
    border: solid 2px black;
}







